@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .btn {
    border-radius: 5px;
    transition: 0.3s;
  }
  .btn:focus {
    outline: none;
  }
  .flexs {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
